*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#F3F1EF ;
}
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F3F1EF;

}
a{
    text-decoration:none ;
    color: black;
    font-weight: 600px;
    
}
nav>a{
    margin: 20px;
}
.content-auth>a:first-child{
     margin: 10px;
}
.button{
    padding: 10px;
    width: 100px;
    /* border: solid black; */
    cursor: pointer;
    border-color: black;
    border-style: solid;
    font-weight:600;
    
}

.hero{
    display: flex;
    margin-top: 15px;
    width: 100%;
    
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.d-flex{
    display: flex;
}
.presentation{
    width: 55%;
}
.img-profile>img{
    width: 500px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
}
#london{
    text-decoration: line-through;
}
#sol{
  font-size: 3rem;  
  color:orangered;
}

 
.textop{
    text-transform: uppercase;
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 12px;
}
 
.diagonal{
    position: absolute;
    top: 530px ;
    width: 84.5rem;
    padding: 50px;
    transform: skewY(-5deg) ;
    background-color: black;
    color:white;
}

